.form{
    display: flex;
    flex-direction:column;
    width: 100%;
    /* height: 470px; */

}

.datos{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    margin-left: auto;
    margin-right: auto;    
}

.title{
    align-self: center;
    padding: 10px;
}
.ajuste{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.datosTitular{
    display: flex;
    flex-direction:row;
}
.firstColumn{
    padding: 5px;
    display: flex;
    flex-direction:column;
    background: aliceblue;
    height: fit-content

}

.datosEmpresa{
    margin-left: 10px;
    display: flex;
    flex-direction:column;
    padding: 5px;
    background: aliceblue;
    height: fit-content
}
.salud{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 5px;
    padding: 10px;
    background: aliceblue;
    max-width: 40%;
}
.segmentos{
    margin-top: 5px;
    margin-bottom: 5px;
}
